:root {
  --sizing: calc(100% / 7);
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  height: 2vh;
}
.square {
  max-width: 98vh;
  min-width: 98vh;
  max-height: 98vh;
  min-height: 98vh;
  background-color: #2980b9;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  height: var(--sizing);
}
.column {
  width: var(--sizing);
}
img {
  height: 100%;
}
